Package: kcm-color-stylse
Source: plasma-desktop
Version: 4:5.13.5-1
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 58
Depends: breeze (>= 4:5.13), kactivitymanagerd (>= 5.13), kde-cli-tools (>= 4:5.13), kded5, kio, oxygen-sounds (>= 4:5.13), plasma-desktop-data (= 4:5.13.5-1), plasma-framework, plasma-integration (>= 5.13), plasma-workspace (>= 4:5.13), polkit-kde-agent-1 (>= 4:5.13), qml-module-org-kde-draganddrop, qml-module-org-kde-kcoreaddons, qml-module-org-kde-kquickcontrols, qml-module-org-kde-kquickcontrolsaddons, qml-module-org-kde-kwindowsystem, qml-module-org-kde-solid, qml-module-qt-labs-folderlistmodel, qml-module-qt-labs-settings
Section: kde
Priority: optional
Homepage: https://projects.kde.org/projects/kde/workspace/plasma-desktop
