Source: lxqt-kcm-colors-style
Section: lxqt
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: breeze-dev (>= 4:5.13~),
               cmake (>= 3.0~),
               debhelper (>= 11~),
               extra-cmake-modules (>= 5.45.0~),
               kscreenlocker-dev,
               kwin-dev (>= 4:5.4.0~),
               libappstreamqt-dev,
               libboost-dev,
               libcanberra-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libglib2.0-dev,
               libibus-1.0-dev,
               libkf5auth-dev (>= 5.45.0~),
               libkf5config-dev (>= 5.45.0~),
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev (>= 5.45.0~),
               libkf5declarative-dev (>= 5.45.0~),
               libkf5doctools-dev (>= 5.45.0~),
               libkf5emoticons-dev,
               libkf5globalaccel-dev (>= 5.45.0~),
               libkf5guiaddons-dev,
               libkf5i18n-dev (>= 5.45.0~),
               libkf5itemmodels-dev (>= 5.41.0~),
               libkf5kcmutils-dev (>= 5.45.0~),
               libkf5newstuff-dev (>= 5.45.0~),
               libkf5notifications-dev (>= 5.45.0~),
               libkf5notifyconfig-dev (>= 5.45.0~),
               libkf5sysguard-dev,
               libkf5wallet-dev (>= 5.45.0~),
               libkf5widgetsaddons-dev,
               libkf5windowsystem-dev,
               libkf5xmlgui-dev,
               libpackagekitqt5-dev,
               libqt5svg5-dev (>= 5.10.0~),
               libqt5x11extras5-dev (>= 5.10.0~),
               libx11-dev,
               libx11-xcb-dev,
               libxapian-dev,
               libxcb-image0-dev,
               libxcb-record0-dev,
               libxcb-shm0-dev,
               libxcb-xkb-dev,
               libxcb1-dev,
               libxcursor-dev,
               libxft-dev,
               libxi-dev,
               libxkbfile-dev,
               openbox,
               pkg-config,
               pkg-kde-tools (>= 0.15.18~),
               plasma-workspace-dev (>= 4:5.12~),
               qtbase5-dev (>= 5.10.0~),
               qtdeclarative5-dev (>= 5.10.0~),
               xauth,
               xserver-xorg-dev,
               xserver-xorg-input-evdev-dev,
               xserver-xorg-input-libinput-dev,
               xserver-xorg-input-synaptics-dev,
               xvfb,
Standards-Version: 4.2.1
Homepage: https://github.com/agaida/lxqt-kcm-colors-style
Vcs-Browser: https://github.com/agaida/lxqt-kcm-colors-style
Vcs-Git: https://github.com/agaida/lxqt-kcm-colors-style


Package: lxqt-kcm-colors-style
Architecture: any
Depends: kde-cli-tools (>= 4:5.13),
         ${misc:Depends}, 
         ${shlibs:Depends}   
Breaks: plasma-desktop, plasma-desktop-data
Replaces: plasma-desktop,    
          plasma-desktop-data    
Description: Color and Style KCMs
 For usage out of Plasma.
 .
 This package is part of the LXQt.


Package: lxqt-kcm-colors-style-data
Architecture: all
Depends: ${misc:Depends}
Recommends: qml-module-org-kde-kwindowsystem,
            qml-module-qtquick-dialogs,
Breaks:  kdeplasma-addons-data (<< 4:5.6~),
Replaces: kdeplasma-addons-data (<< 4:5.6~),
Description: Tools and widgets for the desktop data files
 For usage out of Plasma.
 .
 This package is part of the LXQt.
 .
 This package contains the data files

